---
import PostCard from "../PostCard.astro";

const { node } = Astro.props;
---     
 <h1>{node.name} - Categoria</h1>

 <div class="archive-grid">
    {node.posts.nodes.map(post => {
        return (
            <PostCard post={post}></PostCard>
        )
    })}
 </div>

 <style>
    .archive-grid {
        display: grid;
        grid-template-columns: 1fr; /* Single column on small screens */
        gap: var(--spacing-md); /* Gap between cards */
        padding-top: var(--spacing-md);
    }

    @media (min-width: 768px) {
        .archive-grid {
            grid-template-columns: repeat(2, 1fr); /* Two columns on medium screens */
        }
    }

    @media (min-width: 1024px) {
        .archive-grid {
            grid-template-columns: repeat(3, 1fr); /* Three columns on large screens */
        }
    }
 </style>
